body {
    background-color: beige;
}
.jumbotron {
    background-color: beige;
    align-content: center;
}
h1 {
    text-align: center;
}
#headerImg {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.smallImg {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}